[Unit]
Description=MergerFS storage for adarlpz
After=local-fs.target

[Mount]
What=/path/to/disk1:/path/to/disk2
Where=/srv/mergerfs/adarlpz
Type=fuse.mergerfs
Options=defaults,allow_other,use_ino,category.create=mfs

[Install]
WantedBy=multi-user.target
